*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: bisque;
}

.pictures{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        display: none;
}

.pictures img{
    width: 350px;
    height: 250px;
}

/* .button{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60vh;
} */
/* 
.btn{
    width: 150px;
    height: 50px;
    font-size: 25px;
} */

